*{	
	box-sizing: border-box;
	margin: 0px;
	font-family: Montserrat;
}

html, body { 
	margin: 0;
	padding: 0; 
	height: 100%; 
	width: 100%;
	/*background-color: lightblue;*/
}


.grid {
	display: flex;
	flex-flow: row wrap;
  	/*background-color: grey;*/
  	height: 100%;
  	overflow: scroll;
  	/*min-height:100%;*/
  	/*margin-bottom: 600px;*/
}

.topbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 8%;
	border-bottom: solid #000;
	border-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px 0px;
	background-color: white;
}

.navbar {
	position: relative;
    padding: .5rem 1rem;
}

.flexbox-container {
	/*background-color: green;*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 90%;
}

.flexbox-item-1 {
	/*ICON*/
	justify-content: center;
	align-items: center;
}

.mainbody {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 92%;
}

.sidenav {
	/*background-color: lightgreen;*/
	display: flex;
	/*flex: 1 0 330px;*/
	height: 100%;
	width: 33%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*flex: 1 2 550px;*/
	min-width: 325px;

}

.workcontainer {
	/*background-color: lightblue;*/
	display: flex;
	justify-content: center;
	/*align-self: center;*/
	justify-self: center;
	/*background-color: lightblue;*/
	width: 66%;
	height: 100%;
}

.logo {
	/*background-color: lightblue;*/
	margin-left: 25px;
}

.toplinks {
	/*background-color: lightblue;*/
	/*font-family: "Times New Roman";*/
	/*font-weight:700;*/
}

li {
	list-style-type: none;
}

header li {
	display: inline;
}

#links .top-link {
	margin: 0 50px 0 0;
	/*font-weight: bold;*/
	font-family: "Heebo";
	font-weight: 500;
	letter-spacing: 0.05em;
}

.profilepic {
	 border-radius: 50%;
	 margin-bottom: 25px;
}

.about {
	max-width: 225px;
	font-size: 18px;
}

.info {
	/*background-color: red;*/
	padding: 40px;
	/*min-width: 400px;*/

}

.name {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 5px;
	font-family: Heebo;
	letter-spacing: 0.05em;
}

.navcontainer {
	/*background-color: pink;*/
	margin-top: 35px;	
}

.navbox {
	line-height: 35px;
}

.navbox > a {
	display: block;
	font-size: 24px;
	font-weight: 600;
	font-family: Montserrat;
}

.work {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*margin: 100px 0px 20px 0px;*/
	/*background-color: lightgreen;*/
}

.work > h1 {
	align-self: end;
	margin-bottom: 15px;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: black;
}


a:hover {
	background-color: orange;
	/*background-image: linear-gradient(45deg, #f3ec78, #af4261);*/
	background-image:linear-gradient(to right top, rgb(219, 112, 147), rgb(218, 163, 87));
	background-size: 100%;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent; 
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
	/*text-fill-color: transparent;*/
	/*color: linear-gradient(to bottom right, red, yellow);*/
}

.active {
	text-decoration: line-through;
}
/*#particles-js {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
    background: red;
}*/
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/*hr {
    border-color: #033649;
    border-width: 2px;
    width: 175px;
    align-self: end;
}*/

/* ------------- Page 2 ---------------*/

.port {
	display: flex;
    /*flex-wrap: wrap;*/
    /*flex-direction: row;*/
    /*background-color: blue;*/
    width: 100%;
    /*display: flex;*/
 	/*flex-wrap: wrap;*/
  	/*flex-direction: row;*/
	justify-content: center;
	align-items: center;
	}	

.port-container {
	/*background-color: red;*/
	display: flex;
    /*flex-wrap: wrap;*/
    flex-flow: row wrap;


    height: 75%;
    width: 90%;
    /*flex-direction: row;*/
    align-items: center;
    align-self: center;
    justify-content: space-between;
    
    /*margin-bottom: 120px;*/
    /*flex: 1 1 50%;*/
}


.card {
	display: flex;
	flex: 1 1 315px;
	width: calc(50% - 10px);
    color: inherit;
    justify-content: center;
  	flex-direction: column;
    margin: 15px;
    height: 35%;
    min-height: 170px;
}

.word-container {
	display: flex;
	flex-direction: column;
	height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px 0px;
    border-radius: 5px;
    background: transparent;

}

.word-wrapper {
	display: flex;
	padding: 25px;
    background: linear-gradient(to right top, rgb(219, 112, 147), rgb(218, 163, 87)) rgb(255, 255, 255);
	height: 100%;
	border-radius: 5px;
}

.con-wrap {
	display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/*.title {
	margin-top: 20px
}*/

.description {
	margin-top: 8px;
	margin-bottom:24px;
	font-size: 14px;
	height: 100%;
}

/*fa-html5 {
	font-size: 10em;
	color: black;
}*/

.purple {
	background: -webkit-linear-gradient(bottom left, rgb(114, 19, 251), rgb(79, 22, 238)) rgb(255, 255, 255);
	background: -o-linear-gradient(bottom left, rgb(114, 19, 251), rgb(79, 22, 238)) rgb(255, 255, 255);
	background: linear-gradient(to top right, rgb(114, 19, 251), rgb(79, 22, 238)) rgb(255, 255, 255);
}

.silver {
	background: -webkit-linear-gradient(top left, rgb(109, 110, 114), rgb(158, 160, 166)) rgb(255, 255, 255);
	background: -o-linear-gradient(top left, rgb(109, 110, 114), rgb(158, 160, 166)) rgb(255, 255, 255);
	background: linear-gradient(to bottom right, rgb(109, 110, 114), rgb(158, 160, 166)) rgb(255, 255, 255);
}

.white {
	background: white;
}

@media screen and ( max-width: 1200px ) {

	.body {
	/*display: flex;
	flex-flow: row wrap;
  	height: 100%;*/
  	/*padding-bottom: 200px;*/
    }	

	.port {
		/*overflow: auto;*/
		height: 100%;
    	/*margin-bottom: -100px;*/

	}

	.port-container {
    height: 75%;
    width: 80%;

    /*margin-bottom: 100px;*/
	}

	.card {
		max-height: 25%;
    /*margin-bottom: 100px;*/

	}

	/*.white {
	margin-bottom: 1000px;
		}*/
}

@media screen and ( max-width: 800px ) { 
	.grid {
		display: flex;
		flex-flow: column wrap;
	  	/*background-color: grey;*/
	  	height: 100%;

	  	/*overflow: scroll;*/
	}

	.mainbody {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 92%;
		align-items: center;
		padding-top: 70px;
		overflow: auto;
		/*display: -webkit-box;*/
/*-webkit-box-pack: center; /* justify-content */
/*-webkit-box-align: center; /* align-items */
	}

	.port-container {
    	height: 75%;
    	width: 100%;
	}

	.sidenav {
		display: flex;
		display: -webkit-box;
		/*justify-content: center;*/
		-webkit-box-pack: center; /* justify-content 
		/*-webkit-box-align: center;*/
		width: 100%;
		height:80%;

	}

	.info {
		width: 60%;
		padding: 40px;
		min-width: 400px;
		text-align: center;
		height:100%;

	}

	.profilepic {
	 border-radius: 50%;
	 margin-bottom: 25px;
	 align-self: center;
	}

	.about {
		max-width: 100%;
		vertical-align: middle;
		margin-right: 0px;
	}


	.name {
		font-size: 36px;
		font-weight: bold;
		margin-bottom: 5px;
		font-family: Heebo;
		letter-spacing: 0.05em;
		text-align: center;
	}

	.workcontainer {
		width: 100%;
		align-items: center;
		
	}

	.port {
		width: 70%;
		/*height: 20%;*/
	}

	.flexbox-container {
	/*background-color: green;*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90%;
	}
}

@media screen and ( max-width: 575px ) { 

	.navbar {
		height: 100%;
	}

	.flexbox-container {
		width: 100%;
	}

	.flexbox-item-1 {
		/*ICON*/
		width: 60px;
	}

	#links .top-link {
		margin: 0 35px 0 0;
	}

	#links {
		padding: 0;
	}

	.card {
	display: flex;
	flex: 1 1 315px;
	width: calc(50% - 10px);
    color: inherit;
    justify-content: center;
  	flex-direction: column;
    margin: 15px;
    height: 35%;
    min-height: 170px;
}

.word-container {
	display: flex;
	flex-direction: column;
	height: 100%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 8px 0px;
    border-radius: 5px;
    background: transparent;

}

.word-wrapper {
	display: flex;
	padding: 25px;
    /*background: linear-gradient(to right top, rgb(219, 112, 147), rgb(218, 163, 87)) rgb(255, 255, 255);*/
	height: 100%;
	border-radius: 5px;
}

.con-wrap {
	display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/*.title {
	margin-top: 20px
}*/

.description {
	margin-top: 8px;
	margin-bottom:24px;
	font-size: 14px;
	height: 100%;
}
}

@media screen and ( max-width: 430px ) { 

	#links .top-link {
		margin: 0 20px 0 0;
		font-size: .85em;
	}
}










